<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="#">{{ topbar.brand }}</a>
			{% if topbar.items|length > 0 %}
			<ul class="nav">
				{% for item in topbar.items %}
				<li class="{{item.active}}"><a href="{{ item.href }}"
					{% if item.target is defined %}target="{{item.target}}"{%endif%}>{{item.title}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
</div>